html, body, #main-container, #left-side, #container-section {
  height: 100%;
}

#container-menu{
  color: white;
}

#container-menu ul li{
  display: inline-block;
}

#left-side{
  background-color: #262626;
  /*max-width: 90px*/
}

#left-side ul li i{
  cursor: pointer;  
  color: #333
}

#left-side ul li i:hover{
  color: #9d9d9d;
}

#left-side ul li i.active{
  color: #9d9d9d;
}

#left-side ul li{  
  margin: 40px 0px;
  text-align: center;
}

#left-side ul{
	width: 70%;
	margin-top: 35px; 
}

.item-menu-product{
  color: #9d9d9d;
  display: inline-block;
  margin: 10px 0px
}

.container-prod-menu-top{
  
  position: fixed;
  background: #ffffff none repeat scroll 0 0;
  overflow-y: auto;
  position: fixed;  
  z-index: 1000;
  padding: 15px 0px;
  padding-right: 140px;
  width: 100%;
}

.container-prod-menu-top a i{
  margin-right: 10px;
  vertical-align: middle;
}

#wrapper-center .item-product img{
  height: 200px;  
  display: block;
}

#wrapper-center .item-product{
  max-width: 275px
}

/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) { 
  #wrapper-center{
    margin-top: 170px !important;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (max-width: 992px) {
  #wrapper-center{
    margin-top: 170px !important;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
  #wrapper-center{
    /*margin-top: 170px !important;*/
  }
}
